@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Subjects.SubjectViewModel

@{
    ViewData["Title"] = "Xoá môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xoá môn học</h1>

<h3>Bạn có muốn xoá môn học này?</h3>
<div>
    <h4>Thông tin môn học sẽ xoá</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreditCount)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Quay lại danh sách môn học</a>
    </form>
</div>
