@using HeThongQuanLyCongTacKhaoThi.ViewModels.Common;
@using HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Subjects;
@model PagedResult<SubjectViewModel>

@{
    ViewData["Title"] = "Danh sách môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách môn học</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo môn học</a>
</p>

@if (ViewBag.SuccessMsg != null)
{
    <div id="alert-msg" class="alert alert-success" role="alert">
        @ViewBag.SuccessMsg
    </div>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách môn học</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <form id="dataTable_filter" class="form-inline" asp-action="Index" method="get">
                        <div class="form-group mr-sm-3 mb-2">
                            <label for="keyword" class="sr-only">Tìm kiếm:</label>
                            <input type="search" id="keyword" name="keyword" class="form-control form-control-sm" placeholder="Nội dung" aria-controls="dataTable">
                        </div>
                        <input class="btn btn-primary mb-2 mr-2" type="submit" value="Tìm kiếm" />
                        <input type="submit" class="btn btn-outline-primary mb-2" value="Tải lại" />
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="table" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Mã môn học
                                    </th>
                                    <th>
                                        Tên môn học
                                    </th>
                                    <th>
                                        Số lượng tiết học
                                    </th>
                                    <th>
                                        Số lượng đơn vị học trình
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>
                                        Mã môn học
                                    </th>
                                    <th>
                                        Tên môn học
                                    </th>
                                    <th>
                                        Số lượng tiết học
                                    </th>
                                    <th>
                                        Số lượng đơn vị học trình
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LessonCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreditCount)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                                            @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                                            @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <!-- Page level plugins -->
    <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        setTimeout(function () {
            $("#alert-msg").fadeOut('slow');
        }, 1500);

        $(document).ready(function () {
            $('#table').DataTable({
                "paging": false,
                "ordering": true,
                "info": false,
                "bFilter": false
            });
        });
    </script>
}