@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.StudentAnswers.StudentAnswerDetailViewModel

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Question.Content)
</dt>
<dd class="col-sm-10">
    @Html.Raw(Model.Question.Content)
</dd>

@if (Model.Question.IsMultipleChoice)
{
    <dt class="col-sm-2">
        Đáp án
    </dt>
    <dd class="col-sm-10">
        @for (int i = 0; i < Model.Question.Answers.Count; i++)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Answer[@Model.Question.ID@i]" value="@Model.Question.Answers[i].ID" @((Model.Question.Answers[i].ID == Model.AnswerID) ? "checked" : "") disabled />
                <div class='@((Model.Question.Answers[i].IsCorrect)?"marker-green":(Model.Question.Answers[i].ID == Model.AnswerID)?"marker-red":"")'>
                    @Html.Raw(Model.Question.Answers[i].Content)
                </div>
            </div>
        }
        <input name="IsMultipleChoice" type="hidden" value="true">
    </dd>
}
else
{
    <dt class="col-sm-2">
        Câu trả lời
    </dt>
    <dd class="col-sm-10">
        @Html.Raw(Model.StudentAnswerContent)
    </dd>
    <dt class="col-sm-2">
        Đáp án
    </dt>
    <dd class="col-sm-10">
        @if (Model.Question.Answers[0].Content.Contains("/images/"))
        {
            <img src="@Configuration["AdminAddress"]@Model.Question.Answers[0].Content" alt="Đáp án câu hỏi" />
        }
        else
        {
            @Html.Raw(Model.Question.Answers[0].Content)
        }
    </dd>
    <dt class="col-sm-2">
        Nhận xét giảng viên 1
    </dt>
    <dd class="col-sm-10">
        @Html.Raw(Model.Teacher1Comment)
    </dd>
    <dt class="col-sm-2">
        Điểm giảng viên 1
    </dt>
    <dd class="col-sm-10">
        @(Model.Mark1?? Single.NaN)
    </dd>
    <dt class="col-sm-2">
        Nhận xét giảng viên 2
    </dt>
    <dd class="col-sm-10">
        @Html.Raw(Model.Teacher2Comment)
    </dd>
    <dt class="col-sm-2">
        Điểm giảng viên 2
    </dt>
    <dd class="col-sm-10">
        @(Model.Mark2?? Single.NaN)
    </dd>
    <dt class="col-sm-2">
        Điểm kết quả
    </dt>
    <dd class="col-sm-10">
        @(Model.Mark?? Single.NaN)
    </dd>
}