@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.StudentAnswers.StudentAnswerDetailViewModel

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Question.Content)
</dt>
<dd class="col-sm-10">
    <textarea rows="5" class="form-control editor">@Html.DisplayFor(model => model.Question.Content)</textarea>
</dd>

@if (Model.Question.IsMultipleChoice)
{
    <dt class="col-sm-2">
        Đáp án
    </dt>
    <dd class="col-sm-10">
        @for (int i = 0; i < Model.Question.Answers.Count; i++)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Answer[@Model.Question.ID@i]" value="@Model.Question.Answers[i].ID" @((Model.Question.Answers[i].ID == Model.AnswerID) ? "checked" : "") disabled />
                <div class="form-check-label editor" for="Answer[@Model.Question.ID@i]">
                    <mark class='@((Model.Question.Answers[i].IsCorrect)?"marker-green":(Model.Question.Answers[i].ID == Model.AnswerID)?"marker-red":"")'>
                        @Model.Question.Answers[i].Content
                    </mark>
                </div>
            </div>
        }
        <input name="IsMultipleChoice" type="hidden" value="true">
    </dd>
}
else
{
    <dt class="col-sm-2">
        Câu trả lời
    </dt>
    <dd class="col-sm-10">
        <textarea rows="5" class="form-control editor" name="AnswerOfStudent[@Model.Question.ID]">@Model.StudentAnswerContent</textarea>
    </dd>
    <dt class="col-sm-2">
        Đáp án
    </dt>
    <dd class="col-sm-10">
        @if (Model.Question.Answers[0].Content.Contains("/images/"))
        {
            <img src="@Configuration["AdminAddress"]@Model.Question.Answers[0].Content" alt="Đáp án câu hỏi" />
        }
        else
        {
            <textarea rows="5" class="form-control editor" name="Answers[0]">@Model.Question.Answers[0].Content</textarea>
        }
    </dd>
    <dt class="col-sm-2">
        Nhận xét GV 1
    </dt>
    <dd class="col-sm-7 col-md-8">
        <textarea rows="5" class="form-control editor" name="Teacher1Comment">@Model.Teacher1Comment</textarea>
    </dd>
    <dd class="col-sm-3 col-md-2">
        <p><b>Điểm GV1:</b> @(Model.Mark1?? Single.NaN)</p>
    </dd>
    <dt class="col-sm-2">
        Nhận xét GV 2
    </dt>
    <dd class="col-sm-7 col-md-8">
        <textarea rows="5" class="form-control editor" name="Teacher2Comment">@Model.Teacher2Comment</textarea>
    </dd>
    <dd class="col-sm-3 col-md-2">
        <p><b>Điểm GV2:</b> @(Model.Mark1?? Single.NaN)</p>
    </dd>
    <dd class="col-12">
        <p><b>Điểm kết quả:</b>  @(Model.Mark?? Single.NaN)</p>
    </dd>
}