@model HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Contests.ContestCURequest

@{
    ViewData["Title"] = "Sửa thông tin kỳ kiểm tra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sửa thông tin kỳ kiểm tra</h1>

<h4>Mẫu biểu sửa thông tin kỳ kiểm tra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Môn học</label>
                <select asp-for="SubjectID" class="form-control" asp-items="@(new SelectList(Model.Subjects, "ID", "Name"))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Loại điểm</label>
                <select asp-for="ScoreTypeID" class="form-control" asp-items="@(new SelectList(Model.ScoreTypes, "ID", "Name"))">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" min="15" value="15" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giáo viên 1</label>
                <select asp-for="Teacher1ID" class="form-control" asp-items="@(new SelectList(Model.Teachers, "Id", "Name"))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Giáo viên 2</label>
                <select asp-for="Teacher2ID" class="form-control" asp-items="@(new SelectList(Model.Teachers, "Id", "Name"))">
                    <option value="@Guid.Empty">Không có giáo viên 2</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" /> |
                <a class="btn btn-outline-primary" asp-action="Index">Quay lại danh sách kỳ kiểm tra</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $('#SubjectID').on('change', function () {
            var url = '@Url.Action("GetAllBySubjectID", "ScoreType")?subjectID=' + $(this).val();
            $.get(url, function (data) {
                var parentDiv = $("#ScoreTypeID").parent();
                $("#ScoreTypeID").remove();
                parentDiv.append(data);
            });
        });
    </script>
}