@using HeThongQuanLyCongTacKhaoThi.ViewModels.Common;
@using HeThongQuanLyCongTacKhaoThi.ViewModels.Catalog.Questions;
@model PagedResult<QuestionViewModel>

@{
    ViewData["Title"] = "Danh sách câu hỏi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách câu hỏi</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Tạo câu hỏi</a>
</p>

@section Scripts{
    <script>
        setTimeout(function () {
            $("#alert-msg").fadeOut('slow');
        }, 1500);
    </script>
}

@if (ViewBag.SuccessMsg != null)
{
    <div id="alert-msg" class="alert alert-success" role="alert">
        @ViewBag.SuccessMsg
    </div>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách câu hỏi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <form id="dataTable_filter" class="col-sm-12 form-inline" asp-action="Index" method="get">
                        <div class="form-group mr-sm-3 mb-2">
                            <label for="keyword" class="sr-only">Tìm kiếm:</label>
                            <input type="search" id="keyword" name="keyword" class="form-control form-control-sm" placeholder="Nội dung" aria-controls="dataTable">
                        </div>
                        <input class="btn btn-primary mb-2 mr-2" type="submit" value="Tìm kiếm" />
                        <input type="submit" class="btn btn-outline-primary mb-2" value="Tải lại" />
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        Mã câu hỏi
                                    </th>
                                    <th>
                                        Mã môn học
                                    </th>
                                    <th>
                                        Mã nhóm câu hỏi
                                    </th>
                                    <th>
                                        Nội dung
                                    </th>
                                    <th>
                                        Câu hỏi trắc nghiệm
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>
                                        Mã câu hỏi
                                    </th>
                                    <th>
                                        Mã môn học
                                    </th>
                                    <th>
                                        Mã nhóm câu hỏi
                                    </th>
                                    <th>Nội dung
                                    </th>
                                    <th>
                                        Câu hỏi trắc nghiệm
                                    </th>
                                    <th>
                                        Hành động
                                    </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubjectID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GroupID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Content)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsMultipleChoice)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                                            @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                                            @Html.ActionLink("Xoá", "Delete", new { id = item.ID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>
</div>